<div style="height: 100vh">
    <app-header [title]="title"></app-header>
    <div class="card-body text-white bg-secondary">
        <form class="form" #form="ngForm">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input class="form-control form-control-sm" id="answer" name="answer" placeholder="Please enter your answer." [(ngModel)]="answer" pattern='^[0-9]{4}$' required />
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-sm" (click)="validate()" [disabled]="form.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>no</th>
                <th>input</th>
                <th>result</th>
            </thead>
            <tbody>
                <tr *ngFor="let log of logs; index as i">
                    <td class="text-justify py-2">{{logs.length - i}}</td>
                    <td class="text-justify py-2">{{log.answer}}</td>
                    <td class="text-justify py-2">{{log.message}}</td>
                </tr>
                <tr *ngIf="logs.length == 0">
                    <td colspan="3" class="text-secondary">There is no log.</td>
                </tr>
            </tbody>
        </table>
        <div class="card-body">
            <small></small>
        </div>
    </div>
</div>
<app-footer></app-footer>
<div id="canvas-container">
</div>
<div id="toast" class="toast">
    <div class="toast-header">
        <img src="assets/images/logo.png" class="rounded mr-2" width="20" height="20" alt="...">
        <strong class="mr-auto">You win!!</strong>
        <small>now</small>
        <button type="button" class="ml-2 mb-1 close" (click)="init()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        You entered {{logs.length + 1}} times!
    </div>
</div>